*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

table{
    margin: auto;
    width: 500px;
    text-align: center;
    margin-top: 100px;
    box-shadow: 1px 1px 0px black;
}
table,th,td,tr,thead{
     border:1px solid black;
     border-collapse: collapse;
}