h2 {
    /*responsive text*/
    font-size: clamp(2rem, 8vw,5rem);
    text-align: center;
}
img{
    /*responsive image*/
    width: 100%;
    max-width: 700px;
    display: block;
    text-align: center;
}

@media screen and (min-width: 600px) {
    body{
        background-color: rgb(242, 233, 240);
    }
    
}
@media screen and (max-width: 599.9px) {
    body{
        background-color: rgb(243, 151, 4);
    }
    
}