*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
table{
    width: 500px;
    margin:auto;
    margin-top: 60px;
    text-align: center  ;
}
table,th,td{
    border:3px solid black;
    border-collapse: collapse;
    padding: 15px;
}